.container {
  background: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 0.5rem;
  /* color: #6e41b3;
  color: red; */
}

.linksContainer a {
  color: #6e41b3;
}
.linksContainer a:visited {
  color: #6e41b3;
}

a.linkDisabled {
  /* color: #6e41b3; */
  color: rgb(68, 68, 68);
  cursor: not-allowed;
  text-decoration: line-through;
}
a.linkDisabled:visited {
  color: #6e41b3;
}